 .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .button-corner {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 999; 
    border-radius: 100px;
  }